# Unity WebGL build files
Build/*.wasm binary
Build/*.data binary
Build/*.framework.js binary

# StreamingAssets folder (if any)
StreamingAssets/** binary

# Images / icons
*.png binary
*.jpg binary
*.ico binary